body {
	background: #f5f5f5 url(../img/top-bg.png) repeat-x;
	color: #9c9c9c;
	font-family: 'Open Sans', Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', Verdana, sans-serif;
}
.fichwa {
	display: none;
}
.site-section-wraps {
	width: 100%;
	margin: 0;
	padding: 0;
}
.container {
	width: 90%!important;
	/*min-width: 1024px;*/
	max-width: 1228px!important;/*background-color: #cecece;*/
}
a {
	color: #9c9c9c;
	font-weight: bold;
}
a:hover, a.active, li.active a {
	color: #119286;
}
#top-login-menu {
	color: #119286;
	padding-top: 10px;
	margin-bottom: 60px;
}
#top-login-menu a {
	border-right: #cecece 1px solid;
	padding: 15px 10px 5px;
}
#top-login-menu a:last-child {
	border: none;
}
ul {
	list-style: none;
}
#ajabpay-logo a {
	width: 100%;
}
#ajabpay-logo img {
	max-width: 100%;
	height: auto;
}
#main-nav, #main-nav .navbar-default {
	box-shadow: none;
	border: none;
}
#bs-example-navbar-collapse-1, #bs-example-navbar-collapse-1 ul.nav, #bs-example-navbar-collapse-1 ul.dropdown-menu {
	background: #FDFDFD;
	overflow: hidden;
}
#main-nav navbar navbar-default {
	position: relative;
}
#bs-example-navbar-collapse-1 {
	position: absolute;
	right: 10px;
}
#main-nav ul {
	text-align: center;
}
#main-nav ul li {
	float: left;
}
#main-nav ul.nav li a {
	font-size: 16px;
	padding: 10px 20px;
	background: #FDFDFD;
}
#main-nav ul.nav li.active a {
	color: #119286;
}
#top-social {
	text-align: center;
}
.social-icons {
	display: block;
	width: 24px;
	height: 24px;
}
.fb-ico {
	background: url(../img/sprite.png) no-repeat -1px -1px;
}
.twitter-ico {
	background: url(../img/sprite.png) no-repeat -26px -1px;
}
.fb-ico-white {
	background: url(../img/sprite.png) no-repeat -75px -1px;
}
.twitter-ico-white {
	background: url(../img/sprite.png) no-repeat -51px -1px;
}
.social-icons.fb-ico, .social-icons.twitter-ico {
	float: left;
	margin: 10px 5px 0 5px;
}
.content-wrap, #content-wrap {
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px #cecece;
	-moz-box-shadow: 0px 0px 4px 0px #cecece;
	box-shadow: 0px 0px 4px 0px #cecece;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	margin: 120px 0 40px 0;
	padding: 40px 0;
}
.content-wrap h3, #content-wrap h3, .content-wrap h2, #content-wrap h2 {
	color: #119286;
	text-align: center;
	margin-bottom: 28px;
	font-weight: bold;
}
label {
	color: #9c9c9c;
}
input {
	margin-bottom: 20px;
}
#signup-reason h2 > span {
	display: block;
	font-size: 16px;/*font-weight: normal;*/
}
.ajab-primary-btn {
	background: #119286;
	/* Old browsers */
	background: -moz-linear-gradient(top, #119286 0%, #119286 50%, #0d8579 51%, #0d8579 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #119286), color-stop(50%, #119286), color-stop(51%, #0d8579), color-stop(100%, #0d8579));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #119286 0%, #119286 50%, #0d8579 51%, #0d8579 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #119286 0%, #119286 50%, #0d8579 51%, #0d8579 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #119286 0%, #119286 50%, #0d8579 51%, #0d8579 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #119286 0%, #119286 50%, #0d8579 51%, #0d8579 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#119286', endColorstr='#0d8579', GradientType=0);
	/* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: none;
	padding: 6px 30px;
}
.ajab-primary-btn:hover {
	color: #9c9c9c;
	text-decoration: none;
}
.go-ico {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin: 0 0 0 15px;
	background: url(../img/sprite.png) -101px -1px;
}
/*------------------- Footer section  -----------------*/
#footer-top {
	background: #777;
	color: #fff;
}
#footer-top ul {
	margin: 0;
	padding: 0;
}
#footer-top .col-md-2 {
	margin: 75px 0;
}
#footer-top ul a, #footer-top a {
	color: #fff;
	font-size: 11px;
	font-weight: normal;
}
#footer-top .social-icons {
	display: inline-block;
	margin-right: 10px;
	position: absolute;
	bottom: -5px;
	left: -24px;
}
#footer-social a {
	display: block;
	float: left;
	position: relative;
	width: 90%;
	padding-left: 10%;
	margin: 10px 0;
}
#footer-bottom {
	background: #777;
	color: #fff;
	border-top: #cecece 1px solid;
	padding: 0 0 55px 0;
}
#footer-bottom .container .row div {
	padding: 28px 0 0 0;
}
.form-control:focus {
	-webkit-box-shadow: 0px 0px 7px rgba(21, 173, 159, 0.75);
	-moz-box-shadow: 0px 0px 7px rgba(21, 173, 159, 0.75);
	box-shadow: 0px 0px 7px rgba(21, 173, 159, 0.75);
	border: 1px #15ad9f solid;
}
.navbar-default .navbar-nav > .active > a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.forgot-pwd-link {
	width: 48%;
	margin-left: 27%;
	float: left;
}
.client-login-submit {
	width: 25%;
	float: left;
}
#signup-reason .ajab-primary-btn {
	margin-top: 5px;
	display: inline-block;
}
#about-top h1 {
	font-style: italic;
	font-weight: lighter;
}
#about-top h1 span {
	font-style: italic;
	font-weight: 500;
}
#about-features {
	text-align: center;
	color: #fff;
	background: #4dbfb3 url(../img/about-page-bg2.jpg) no-repeat bottom center;
	background-size: 100%;
	padding: 114px 0;
}
.ajabcircle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #777777;
	border: #15ad9f 5px solid;
	background: #ffffff;
	margin-top: 40px;
	margin-bottom: 40px;
}

.ajabcircle-cont h4 {
	color: #92115e;
}

/*@screen-xs-max: 1000px;*/
@media (max-width: 767px) {
.forgot-pwd-link {
	width: 45%;
	margin-left: 5%;
	float: left;
}
.client-login-submit {
	width: 50%;
	float: left;
}
#footer-top .col-xs-6 {
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 180px;
}
#footer-top ul {
	border: red;
}
#footer-social a {
	margin-left: 20px;
}
#signup-reason .ajab-primary-btn {
	font-size: 14px;
	padding: 6px 15px;
}
#signup-reason {
	background: url(../img/or-bg-mobile.png) no-repeat top center;
	padding: 10px;
	padding-top: 70px;
	text-align: center;
}
#about-top {
	background: url(../img/about-page-bg.jpg) no-repeat top center;
	/*background-size:100%;*/
	padding: 50px 0;
	color: #fff;
	text-align: center;
}
#about-middle {
	background: #fff;
	padding: 20px 0;
}
#whats-ajabpay {
	padding: 10px;
}
.ajabcircle {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #777777;
	border: #15ad9f 5px solid;
	background: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
.ajabcircle-cont {
	width: 92%;
	height: auto;
	padding: 0%;
	margin: 10px 4%;
}
#about-features {
	padding: 10px 0;
}
}
@media (min-width: 768px) {
#signup-reason {
	background: url(../img/or-bg-mobile.png) no-repeat top center;
	padding: 10px;
	padding-top: 70px;
	text-align: center;
}
#footer-top .col-sm-4 {
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 180px;
}
#about-top {
	background: url(../img/about-page-bg.jpg) no-repeat top center;
	padding: 50px 0;
	color: #fff;
	text-align: center;
}
#about-middle {
	background: #fff;
	padding: 30px 0;
}
#whats-ajabpay {
	padding: 20px;
}
#about-features {
	padding: 30px 0;
}
.ajabcircle-cont {
	width: 84%;
	height: 80%;
	padding: 0%;
	margin: 10% 8%;
	font-size: 12px;
}
#ajabcircle-middle-wrap {
	position: relative;
	margin-bottom: 200px;
}
.ajabcircle-middle {
	position: absolute;
	top: -100px;
}
}
@media (min-width: 992px) {
#signup-reason {
	background: url(../img/or-bg.png) no-repeat left center;
	padding: 0 50px 40px 70px;
	text-align: center;
}
#client-login {
	width: 85%;
}
#about-top {
	background: url(../img/about-page-bg.jpg) no-repeat;
	background-size: 100%;
	padding: 50px 0;
	color: #fff;
	text-align: center;
}
#about-middle {
	background: #fff;
	padding: 70px 0;
}
#whats-ajabpay {
	padding: 40px;
}
.ajabcircle-middle-wrap {
	position: relative;
}
.ajabcircle-middle, .ajabcircle-pull-up {
	position: absolute;
	top: -230px;
}
.ajabcircle-cont {
	width: 76%;
	height: 66%;
	padding: 0%;
	margin: 17% 12%;
	font-size: 13px;
}
#ajabcircle-middle-wrap {
	position: relative;
	margin-bottom: 200px;
}
}
@media (min-width: 1200px) {
#about-top {
	background: url(../img/about-page-bg.jpg) no-repeat;
	background-size: 100%;
	padding: 100px 0;
	color: #fff;
	text-align: center;
}
#signup-reason {
	background: url(../img/or-bg.png) no-repeat left center;
	padding: 0 50px 40px 70px;
	text-align: center;
}
#client-login {
	width: 85%;
}
#about-middle {
	background: #fff;
	padding: 70px 0;
}
#whats-ajabpay {
	padding: 40px;
}
#ajabcircle-middle-wrap {
	position: relative;
}
.ajabcircle-middle {
	position: absolute;
	top: -230px;
}
.ajabcircle-cont {
	width: 76%;
	height: 66%;
	padding: 0%;
	margin: 17% 12%;
	font-size: 13px;
}
#ajabcircle-middle-wrap {
	position: relative;
	margin-bottom: 0;
}
}
